global_costmap:
  global_frame: world
  local_map_frame: map    #Frame has usage, when param update_origin_pose is true
  robot_base_frame: base_link

  #names of topics
  topic_shortest_path: "shortest_path"
  topic_gps_name: "/fix"

  interpolation_max_distance: 2.0 # Max distance between two nodes of orientated graph
  filter_of_ways: ["all"]         # Filter for parser. Parse only routes, which have value on the list
                                # If value is all, then parse all routes
  footway_width: 2
  set_random_pose: false          # Set the random pose in a map at initialization (DEBUG param)
  update_tf_pose_from_gps: 2      # 0 - no tf correction from gps
                                 # 1 - Do correction only when gps accuracy is better
                                 # 2 - Do correction always when is received correct gps message

  use_map_rotation: false
  matching_tf_with_map: false
  distance_for_update_rotation: 5.0