<?xml version="1.0"?>
<launch>
  <master auto="start"/>

    <arg name="osm_map_path" default="$(find osm_planner)/osm_example/fei.osm"/>

    <!-- pkg="osm_planner" type="osm_helper" name="osm_helper" output="screen"/-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" required="true">
     <param name="base_global_planner" value="osm_planner/Planner"/>
     <param name="controller_frequency" value="10"/>
     <param name="Planner/osm_map_path" value="$(arg osm_map_path)"/>
     <rosparam file="$(find osm_planner)/config/ros_param.yaml" command="load" />
  </node>

  <node name="osm_helper" pkg="osm_planner" type="osm_helper" ns="move_base"/>
  <!--rosparam command="load" file="$(find osm_planner)/test/test_fei.yaml"/-->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find osm_planner)/rviz/osm_node.rviz" required="true"/>


</launch>
