<?xml version="1.0" ?>
<launch>

  <!--Map source-->
  <arg name="filepath" default="$(find osm_planner)/osm_example/fei.osm"/>
  <param name="osm/filepath" value="$(arg filepath)"/>

  <!--load frame name, names of topics-->
  <rosparam command="load" file="$(find osm_planner)/config/ros_param.yaml" />

</launch>
